#app {
  color: #de1818;
  background-color: yellow;
}

#nav {
  background-color: #fcb000;
  position: sticky;
  top: 0;
  text-align: center;
  padding:10px;
  z-index: 1;
}

#nav a {
  margin: 5px 10px;
  text-align: center;
  color: #de1818;
  opacity: 0.85;
  padding:10px;
  font-size: 20px;
}

#nav a:hover{
  text-decoration: none;
  color: #de1818;
  opacity: 1;
}

#jumbotron {
  background-color: yellow;
  text-align: center;
  padding: 7%;
}

#jumbotron img {
  width: 120px;
}

#jumbotron p {
  font-size: 30px;
}

#serviços {
  display:block;
  background-color: #ffa200;
}

#serviços #serviçosHeader {
  background: url(img/pizza.jpg);
  text-align: center;
  color: yellow;
}

.backgroundcolor {
  background-color: black;
  opacity: 0.6;
  padding:50px;
}

#serviços .spizza1 {
  width:200px;
}

#serviçosConteúdo {
  text-align: center;
}

.serviçosContainer {
  display: inline-block;
  margin: 50px;
}

.serviçosContainer a {
  color:#de1818;
}
.serviçosContainer a:hover {
  color:#de1818;
}

#emprego {
  background: url(img/emprego.png);
  text-align: center;
  color:whitesmoke;
}

#contato {
  display: inline;
}

#contato img {
  width:40px;
  border-radius: 50%;
}

#contato #contato1 {
  left:0;
}
#contato #contato2 {
  margin-top: -80px;
  margin-left: 70%;
  padding-bottom: 50px;
}

@media (max-width:500px) {
  #contato #contato2 {
    margin: auto;
  }

  h1 {
    font-size:60px;
  }

  p {
    font-size: 15px;
  }
}